{% extends "places/_base.html" %}
{% load static %}

{% block stylesheets %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static "places/css/google-maps.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "places/css/home-page.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "places/css/results.css" %}">
{% endblock %}

{% block javascript %}
	{{block.super}}
	<script type="text/javascript" src="{% static "places/js/readCookie.js" %}"></script>
	<script type="text/javascript" src="{% static "places/js/initLocationsMap.js" %}"></script>
	<script type="text/javascript" src="{% static "places/js/addMarkers.js" %}"></script>
	<script type="text/javascript">
		function getMarkers(map){
			console.log("addMarkers")
			var markers = [
				{% for place in places %}
					["{{place.name}}", {{place.latitude_longitude.y}}, {{place.latitude_longitude.x}}],
				{% endfor %}
			];
			addMarkers(markers, map);
		}
	</script>

	<script type="text/javascript" src="{% static "places/js/mapIdleListener.js" %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbVtEJlP2oDkRfEfFc2SVEE7Wj1kObrNs&libraries=places&callback=initLocationsMap"async defer></script>
{% endblock %}

{% block content %}
	
	<div class="alert alert-info alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		Acercate a un area o usa el buscador para ver los salones de ese lugar (actualmete toluca y area conurbada)
	</div>

	<!--map-->
	<div class="row">
		<input id="pac-input" class="controls" type="text" placeholder="Buscador">
		<div id="map" class="col-md-8 col-md-offset-2"></div>
	</div>

	<div id="results"></div>

	<div id="contact" class="alert alert-danger">
		Quejas, sugerencia o registro al 7226198765
	</div>
{% endblock %}