{% extends "places/_base.html" %}
{% load staticfiles %}

{% block stylesheets %}
  {{block.super}}
  <link rel="stylesheet" type="text/css" href="{% static "places/css/home-page-style.css" %}">
{% endblock %}

{% block javascript %}
  {{block.super}}
  <script type="text/javascript">
    function initLocationsMap() {
      console.log("function initLocationsMap()");
      mapOptions = {
        center: {lat: 19.2846923, lng: -99.649144},
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false,
        streetViewControl: false,
      };
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      var input = document.getElementById('pac-input');
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      var initBounds = new google.maps.LatLngBounds();
      
      {% for place in places %}
        var marker = new google.maps.Marker({
          position:{lat: {{place.latitude_longitude.y}}, lng: {{place.latitude_longitude.x}}},
          map: map,
          title: "{{place.name}}"
        });
        initBounds.extend({lat: {{place.latitude_longitude.y}}, lng: {{place.latitude_longitude.x}}});
      {% endfor %}
      map.fitBounds(initBounds);

      autocompleteOptions = {types: ['geocode'], bounds: initBounds}
      var autocomplete = new google.maps.places.Autocomplete(input, autocompleteOptions);

      autocomplete.addListener('place_changed', function() {
        console.log("input chaged");
        var place = autocomplete.getPlace();
        var bounds = new google.maps.LatLngBounds();
        bounds.union(place.geometry.viewport);
        map.fitBounds(bounds);
      });

      map.addListener('idle', function(){
        console.log("load results");
        var bounds = new google.maps.LatLngBounds();
        var bounds = map.getBounds();
        var southWest =  new google.maps.LatLng();
        var southWest = bounds.getSouthWest();
        var northEast =  new google.maps.LatLng();
        var northEast = bounds.getNorthEast();
        $('#results').load('results/?swLat='+southWest.lat()+'&swLng='+southWest.lng()+'&neLat='+northEast.lat()+'&neLng='+northEast.lng());
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbVtEJlP2oDkRfEfFc2SVEE7Wj1kObrNs&libraries=places&callback=initLocationsMap"async defer></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="jumbotron botstrap-back">
        <h2 class="instructions">Encuentra el lugar ideal para tu fiesta</h2>
        <p class="instructions">Acercate a una area o usa el buscador para ver unicamente los salones del area seleccionada</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-0"></div>

    <div class="col-md-7 col-sm-12">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map"></div>
    </div>
  </div>

  <div id="results"></div>
{% endblock %}