{% extends "places/_base.html" %}
{% load static %}

{% block stylesheets %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static "places/css/place.css" %}">
{% endblock %}

{% block content %}
	<div class="top-info">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">

			{% with pictures=place.picture_set.all %}
				<!-- Indicators -->
				<ol class="carousel-indicators">
					{% for pic in pictures %}
						{% if forloop.first %}
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						{% else %}
							<li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
						{% endif %}
					{% endfor %}
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					{% for pic in pictures %}
						{% if forloop.first %}
							<div class="item active">
								<img src="{% get_media_prefix %}{{pic.picture}}">
							</div>
						{% else %}
							<div class="item">
								<img src="{% get_media_prefix %}{{pic.picture}}">
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endwith %}

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
				</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<!--********************* End carousel *******************-->

		<!--***************** Name & description *****************-->
		<div id="top-panel" class="panel panel-default">
			<div class="panel-body">
				<h1>{{place.name}}</h1>
				<p>{{place.description}}</p>
			</div>
		</div>
	</div>
	<!--********************** Capacity **********************-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
    		    <img src="{% static "places/images/decoration_left.svg" %}">
    			&nbsp Capacidad &nbsp
    			<img src="{% static "places/images/decoration_right.svg" %}">
			</h3>
		</div>

		<div class="panel-body">
			<div class="row">

				{% if place.min_capacity %}
					<div class="col-sm-4">
						<img src="{% static "places/images/min.svg" %}" title="Minima"> Minima: &nbsp
						<span class="capacity">{{place.min_capacity}}</span>
					</div>
				{% endif %}

				{% if place.indoors_capacity %}
					<div class="col-sm-4">
						<img src="{% static "places/images/indoors.svg" %}" title="Salon"> Maxima Interiores: &nbsp
						<span class="capacity">{{place.indoors_capacity}}</span>
					</div>
				{% endif %}

				{% if place.outdoors_capacity %}
					<div class="col-sm-4">
						<img src="{% static "places/images/outdoors.svg" %}" title="Jardin">Maxima Exterores: &nbsp
						<span class="capacity">{{place.outdoors_capacity}}</span>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

	<!--******************** Sercices ********************-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<img src="{% static "places/images/decoration_left.svg" %}">
					&nbsp Servicios &nbsp
				<img src="{% static "places/images/decoration_right.svg" %}">
			</h3>
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-sm-4">
					<p>
						<img src="{% static "places/images/vehicles.svg" %}"> Estacionamiento: &nbsp
						{% if place.parking_capacity %}
							<span class="capacity">{{place.parking_capacity}}</span> autos
						{% else %}
							<span class="capacity">No tiene</span>
						{% endif %}
					</p>
				</div>
			</div>

			<div class="row">
			    {% if place.kitchen %}
    				<div class="col-xs-2">
    					    <img src="{% static "places/images/stove.svg" %}">Cocina
    				</div>
				{% endif %}

				{% if place.food %}
					<div class="col-xs-2">
						<img src="{% static "places/images/food.svg" %}"> Comida
					</div>
				{% endif %}

				{% if place.ac %}
					<div class="col-xs-2">
						<img src="{% static "places/images/ac.svg" %}"> AC
					</div>
				{% endif %}

				{% if place.heating %}
					<div class="col-xs-2">
						<img src="{% static "places/images/heating.svg" %}"> Calefacción
					</div>
				{% endif %}

				{% if place.games %}
					<div class="col-xs-2">
						<img src="{% static "places/images/games.svg" %}"> Juegos
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<!--******************** Social Networks ********************-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<img src="{% static "places/images/decoration_left.svg" %}">
					&nbsp Redes sociales &nbsp
				<img src="{% static "places/images/decoration_right.svg" %}">
			</h3>
		</div>

		<div class="panel-body">
			<div class="row">
				{% for media in place.socialmedia_set.all %}
					<div class="col-xs-2">
						{% if 'facebook' in media.social_media %}
							<a href="{{media.social_media}}" target="_blank"><img src="{% static "places/images/facebook.svg" %}" alt="facebook"></a>
						{% else %}
						    <a href="{{media.social_media}}" target="_blank"><img src="{% static "places/images/website.svg" %}" alt="website"></a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!--******************** Contact Info ********************-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<img src="{% static "places/images/decoration_left.svg" %}">
					&nbsp Contacto &nbsp
				<img src="{% static "places/images/decoration_right.svg" %}">
			</h3>
		</div>

		<div class="panel-body">
			<div class="row">
				{% for rep in place.representative_set.all %}
					<div class="col-sm-4">
						<p>{{rep.representative}},</p>
					</div>
				{% endfor %}
			</div>

			<div class="row">
				{% for telephone in place.telephone_set.all %}
					<div class="col-xs-3">
						<p>
							<img src="{% static "places/images/"|add:telephone.phone_type|add:".svg" %}" >{{telephone.number}}
						</p>
					</div>
				{% endfor %}
			</div>


			{% for em in place.email_set.all %}
		        <div class="row">
					<div class="col-xs-12">
					    <p>
						    <img src="{% static "places/images/email.svg" %}" >{{em.email}}
					    </p>
					</div>
			    </div>
			{% endfor %}
		</div>
	</div>

	<!--******************** Address ********************-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<img src="{% static "places/images/decoration_left.svg" %}">
						&nbsp Dirección &nbsp
					<img src="{% static "places/images/decoration_right.svg" %}">
				</h3>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<p><span class="capacity">
						{% if place.address.address_line_1%}
							{{place.address.address_line_1}},
						{% endif %}
						{% if place.address.address_line_2%}
							 {{place.address.address_line_2}},
						{% endif %}
						{% if place.address.address_line_3%}
							 {{place.address.address_line_3}},
						{% endif %}
						{{place.address.locality}},
						{{place.address.locality.region}}</span></p>
					</div>
				</div>

				<div class="row">
				    <div class="col-sm-5 col-sm-offset-1">
					    <div id="map"></div>
					</div>
				</div>
			</div>
		</div>

	<script type="text/javascript">
		function initMap(){
			console.log("initMap")
			var location = new google.maps.LatLng({{place.latitude_longitude.y}}, {{place.latitude_longitude.x}});

			mapOptions = {
				center: location,
				zoom: 16,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				mapTypeControl: false,
				streetViewControl: false,
			};

			var map = new google.maps.Map(document.getElementById('map'), mapOptions);
			mapHeight = $("#map").height();
            $("#map").css('height', mapHeight);
			var marker = new google.maps.Marker({
				position: location,
				map: map
			});
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbVtEJlP2oDkRfEfFc2SVEE7Wj1kObrNs&libraries=places&callback=initMap"async defer></script>

{% endblock %}