#bg {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.navbar{
	box-shadow: 2px 2px 2px #000000;
	background-image: url(../images/ricepaper.png);
}

#name{
	color: black;
	font-family: 'Allura', cursive;
	font-size: 2em;
}

.capacity{
	font-weight: bold;
}
