.carousel-inner> .item > img {
	width: auto;
	height: 360px;
	max-height: 360px;
	margin: auto;
}

.capacity{
	font-weight: bold;
}

#map{
	padding-top: 50%;
	border: 1px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px #000000;
}