.carousel-inner> .item > img {
	width: auto;
	height: 360px;
	max-height: 360px;
	margin: auto;
}

.panel:not(#top-panel){
	box-shadow: 2px 2px 2px #000000;
}

.panel-heading{
	background-color: #e2e9e9 !important;
}

.panel-body{
	background-image: url(../images/ricepaper.png);
}

.top-info{
	box-shadow: 2px 2px 2px #000000;
}

#top-panel{
	border-top: 0px;
}

.panel-title{
	text-align: center !important;
}
	
#map{
	padding-top: 30%;
}